    <ActionBar [title]="titleText">
            <NavigationButton  android.systemIcon="ic_menu_back" *ngIf="!isHomeRoute()" [nsRouterLink]="['/grid']"></NavigationButton>
            <ActionItem ios.position="right" text="Image" [nsRouterLink]="['/imagedrag']"></ActionItem>
            <ActionItem ios.position="right" text="Artists" [nsRouterLink]="['/artist']"></ActionItem>
            <ActionItem ios.position="right" text="Soccer" [nsRouterLink]="['/soccer']"></ActionItem>
    </ActionBar>

    
<GridLayout rows="*,200" >
    <ListView [items]="items" row="0" col="0">
        <ng-template let-item="item">
            <StackLayout >
                <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
                </StackLayout>
            </ng-template>
     </ListView>
     <StackLayout padding="30px" backgroundcolor="gray" row="1">
            <ns-form  (editEvent)="add($event)" [store]="item"></ns-form>
     </StackLayout>
</GridLayout>

