.btn1{
    margin-top: 2%;
    color: black;
    border: solid 2px black;
    background: skyblue
}
.flex{
    background: linear-gradient(to bottom, #66ffff 0%, #ff99cc 100%);
    /* color: blue */
}
